
        <div style="width:80%;font-size:40px;letter-spacing:-8px;line-height:40px;color:#66EE66;">
            <h1>New World Radio</h1>
        </div>

<!-- ########################################## -->
<!-- dial -->
<!-- ########################################## -->
<!-- <p>&#215; Infinite || iPod click wheel</p> -->
        <div class="demo" style="height:440px;width:300px">
            <div style="float:left;">
                <div class="ival" style="width:80px;text-align:center;font-size:50px;color:#87CEEA">1998</div>
                <div class="idir" style="width:80px;text-align:center;font-size:50px;"></div>
            </div>


            <div style="float:left;width:100%;height:320px;padding:20px;background-color:#222;text-align:center;">
                <pre>

                </pre>
                <input class="infinite" value="1998" data-width="150" data-thickness=".35" data-fgColor="#ffec03" data-bgColor="#7C6E16" data-displayInput="false" data-cursor=true>

            </div>
 </div>

<div id="play">
    <%= form_tag("/search", method: "get", :remote => true) do %>
      <%= label_tag(:location, "Location:") %>
      <%= text_field_tag(:location) %>
      <%= label_tag(:time, "Time:") %>
      <%= text_field_tag(:time) %>
      <%= submit_tag("Play!") %>

    <%end %>
</div>

<iframe id="ytplayer" type="text/html" width="640" height="360"
src="https://www.youtube.com/embed/kd6e_ZfTyqI"
frameborder="0" allowfullscreen></iframe>
<!-- Number -->



<!-- ########################################## -->
<!-- ########################################## -->

    <!--     <div style="clear:both"></div>
        <div class="demo" style="width:100%" >

            <pre>            </pre>
            <div style="width: 80%; margin-bottom: 20px; background-color:#222"> -->

<!-- <input class="knob" data-width="80%"  data-fgColor="#ffec03" data-bgColor="#7C6E16"  data-cursor=true  value="35" data-thickness=".25" data-skin="tron"> -->

<!--
<input class="knob" data-width="80%"  data-fgColor="#ffec03" data-bgColor="#7C6E16"  data-cursor=true  value="35" data-thickness=".25"> -->
<!-- REMOVED BUT NICE:  data-displayPrevious=true -->
<!-- THIN BORDER INSTEAD OF BACKGROUND: data-skin="tron" -->

          <!--   </div>
        </div> -->

        <!-- <div style="clear:both"></div>
        <script>
        function clock() {
            var $s = $(".second"),
                $m = $(".minute"),
                $h = $(".hour");
                d = new Date(),
                s = d.getSeconds(),
                m = d.getMinutes(),
                h = d.getHours();
            $s.val(s).trigger("change");
            $m.val(m).trigger("change");
            $h.val(h).trigger("change");
            setTimeout("clock()", 1000);
        }
        clock();
        </script>
        <div class="demo" style="color:#EEE;background:#222;height:420px;width:100%">
            <p>&#215; Superpose (clock)</p>
            <div style="position:relative;width:350px;margin:auto">
                <div style="position:absolute;left:10px;top:10px">
                    <input class="knob hour" data-min="0" data-max="24" data-bgColor="#333" data-fgColor="#ffec03" data-displayInput=false data-width="300" data-height="300" data-thickness=".3">
                </div>
                <div style="position:absolute;left:60px;top:60px">
                    <input class="knob minute" data-min="0" data-max="60" data-bgColor="#333" data-displayInput=false data-width="200" data-height="200" data-thickness=".45">
                </div>
                <div style="position:absolute;left:110px;top:110px">
                    <input class="knob second" data-min="0" data-max="60" data-bgColor="#333" data-fgColor="rgb(127, 255, 0)" data-displayInput=false data-width="100" data-height="100" data-thickness=".3">
                </div>
            </div>
        </div>
 -->




